@page "/productlist"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ClientShoppingList.Shared

@inject HttpClient _httpClient

<h1>Product Detail</h1>
<div>
    <a href="/addproduct"> Create New Product</a>
    @if (productList != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th width = "30%">Product Name</th>
                    <th width = "20%">Description</th>
                    <th width = "20%">Price</th>
                     <th width = "20%">Image</th>
                    <th width = "30%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in productList)
                {
                    <tr>
                        <td>
                            @p.ProductName
                        </td>
                    <td>@p.Description</td>
                    <td>@p.Price</td>
                    <td><img src="@p.ProductName" /></td>
                    <td>
                        <a href="/editproduct/@p.Id">Edit</a> |
                        <a href="/deleteproduct/@p.Id">Delete</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    List<ProductsViewModel> productList = new List<ProductsViewModel>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/products");
        response.EnsureSuccessStatusCode();
        productList = await response.Content.ReadFromJsonAsync<List<ProductsViewModel>>();
    }
}
