@page "/productlist"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ClientShoppingList.Shared

@inject HttpClient _httpClient

<h1>Product Detail</h1>
<div>
    <a href="/addproduct" class="btn btn-primary"> Create New Product</a>
    <br/>
    <br />
    @if (productList != null)
    {
        <table class="table">
            <thead class="card-header">
                <tr>
                    <th width = "30%">Product Name</th>
                    <th width = "20%">Description</th>
                    <th width = "20%">Price</th>
                    
                    <th width = "10%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in productList)
                {
                    <tr>
                        <td>
                            @p.ProductName
                        </td>
                    <td>@p.Description</td>
                    <td>@p.Price</td>


                        <td style="text-align:center">
                            <a href="/editproduct/@p.Id" class="btn btn-primary">Edit</a> 
                            <a href="/deleteproduct/@p.Id" class="btn btn-secondary">Delete</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    List<ProductsViewModel> productList = new List<ProductsViewModel>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/products/");
        response.EnsureSuccessStatusCode();
        productList = await response.Content.ReadFromJsonAsync<List<ProductsViewModel>>();
        

    }



    
}
